@import '../../index.scss';

.container {
	margin-top: 5rem;
	padding-top: 5rem;
	// background-color: $third-color;
}

.extend {
	padding-bottom: 15rem;
	margin-bottom: -10rem;
}

.text {
	margin: 0 auto;
	padding: 0 .5rem;
	max-width: $main-column-width;

  .header {
    font-size: 3rem;
    margin: .5rem;
  }

  .subheader {
    font-size: 2rem;
    margin: .25rem;
  }

	h1,
	h2 {
		color: $third-color;
	}

  .bioParagraph {
    font-weight: 500;
    font-size: 1.2rem;
    padding-bottom: 2rem;
  }

  .gradient {
    background: linear-gradient(90deg, $third-color, $fourth-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

